<footer>
  <div class="container">
    <div class="footer-content row">
      <div class="col-md-8 col-md-offset-2">
        <% 6.times do %>
          <div class="col-md-2 col-sm-2 hidden-xs">Footer test 1</div>
        <% end %>
        <% 3.times do %>
          <div class="col-xs-4 visible-xs">
            <div class="row">Footer test 1</div>
            <div class="row">Footer test 1</div>
            <div class="row">Footer test 1</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</footer>