<header>
  <div class="container-fluid">
    <div class="row header-content">
      <div class="col-md-4 col-md-offset-2 col-xs-12">
        <div class="row large-text">Hello, my friend to our product</div>
        <div class="row small-text">Hello, my friend to our product</div>
        <div class="row button-container"><a class="medium-button" href="#">Button one</a></div>
      </div>
    </div>
  </div>
</header>