<div class="desktop-nav-bar">
  <div class="container-fluid">
    <div class="desktop-nav-bar-content visible-lg visible-md row">
      <div class="col-md-1 col-sm-offset-2">Lorem Ipsum</div>
      <div class="col-md-1">Lorem Ipsum</div>
      <div class="col-md-1">Lorem Ipsum</div>
      <div class="col-md-9"></div>
    </div>
    <a id="navigationButton" class="col-sm-12 glyphicon glyphicon-align-justify navigation-button hidden-lg hidden-md"></a>
  </div>
</div>
<div id="navigationBar" class="mobile-nav-bar hidden-lg hidden-md">
  <div class="row"><div class="col-xs-7 col-xs-offset-5">Lorem Ipsum</div></div>
  <div class="row"><div class="col-xs-7 col-xs-offset-5">Lorem Ipsum</div></div>
  <div class="row"><div class="col-xs-7 col-xs-offset-5">Lorem Ipsum</div></div>
</div>
